@charset utf-8;

@media only screen and (max-width: 320px) and (min-width: 5px){
	#main-logo{
		width: 220px;
		text-align: left;
	}
}

/* Smartphones (portrit and landscape) */
@media only screen and (min-width: 321px) and (max-width: 480px){
	#main-logo{
		width: 220px;
	}
}

/* Smartphones (landscape) */
@media only screen and (min-width: 321px) {
	#main-logo{
		width: 220px;
	}
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {
	#main-logo{
		width: 220px;
		text-align: left;
	}
}

.img{
	width: 140px;
	height: 140px;
	cursor: pointer;
}
h3{
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
h4, h5{
	font-weight: bold;
	text-align: left;
}
a{
	margin-top: 10px;
}
p{
	color: #555;
	font-size: 16px;
	font-size: 1.6rem;
}

#main-header{
	position: absolute;
}

.img-center{text-align: center; }

.img-center img{
	width: 40%;
}

mark{
	background-color: #52A2FD;
}
summary{
	cursor: pointer;
}